{% extends 'base.html' %}


{% block body %}
<style>
    td{
        border: 1px solid;
        text-align: center;
        width: 200px;
        
        
    }
    th{
        border: 1px solid;

    }
    
</style>

<div class="container-fluid">
    <div class="row" >


        
            

                <table class="col-sm-12" style="height: 50px;">
                    <tr class=""  >
                        <td rowspan="6"><h5 class="d-flex align-items-sm-start par" style="width: 1000px; margin-left: 20px;"  >particulars</h5></td>
                        </tr>
                    <tr>
                        <td colspan="2"><h6 class="" style=" font-size: 13px;" ><i>Bank Accounts </i></Bank></h6></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h6 class="" style=" font-size: 13px;"><strong>Company name</strong></h6></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h6 class="" style=" font-size: 13px;">For 1-Apr-22</h6></td>
                    </tr>
                    <tr >
                        <td colspan="2"><h6 class="" style=" font-size: 13px;"> <strong>Closing Balance </strong></h6></td>
            
                    </tr>
                    <tr>
                        <td><h6 class="" style=" font-size: 13px;">Debit</h6></td>
                        <td><h6 class="" style=" font-size: 13px;">Credit</h6></td>
                    </tr>

                </table>


           
          
        </div>

        <div class="row" style="margin-top: 400px;">
            

            <table class="col-sm-12">
                <tr>
                    <th ><h6 class="d-flex align-items-sm-start par p-1 py-1" style="margin-left: 20px;">Grand Total</h6></th>
                </tr>


            </table>


        
            

       
      
    </div>
</div>

       

</div>
        
          
          
            <!-- <div class="col-sm-6 m-0 p-0  " style="border: 1px solid; margin-top: 1000px;" >
            <div class="head"><h5 class="pl-3 par">particulars</h6></div>
        </div> -->

         






        <!-- <div class="col-sm-12 m-0 p-1  " style="border: 1px solid;" >
           

            

                <table border="1">
                   
                        <tr class=""  >
                            <td rowspan="6"><h5 class="" style="width: 1000px;" >particulars</h5></td>
                            </tr>
                            <tr>
                            <td colspan="2"><h6 class="" style="width: 200px;" >Bank Accounts</h6></td>
                        </tr>
                        <tr>
                            <td colspan="2"><h6 class="">Company name</h6></td>
                        </tr>
                        <tr>
                            <td colspan="2"><h6 class="">For 1-Apr-22</h6></td>
                        </tr>
                        <tr >
                            <td colspan="2"><h6 class="">Closing Balance</h6></td>
                
                        </tr>
                        <tr>
                            <td><h6 class="">Debit</h6></td>
                            <td><h6 class="">Credit</h6></td>
                        </tr>
                    
                    
                </table>

                  
            
        </div> -->

        <!-- <div class="col-sm-6 m-0 p-0 b1 " style="border: 1px solid;" >
            <div class="head"><h5 class="pl-3 par">particulars</h6></div>
        </div> -->
        

    



{% endblock %}